/* Bem-Vindo Ao CSS da RioJunior - EFEJ! */
/* Desenvolvido pela Equipe de TI da RioJunior */

/** Instruções de código **/

/** 1 - Importação de fontes **/
	/** 1.1 - Css Geral **/
/** 2 - Header **/
  /** 2.1 - Navbar **/
/** 3 - Section conectadosApresentacao **/
/** 4 - Section bemVindosEfej **/
/** 5 - Section contadorEfej **/
/** 6 - Section escolhasEfej **/
/** 7 - Section estatisticasEfej **/
/** 8 - Section parceiros **/
/** 9 - Footer **/




/** 1 - Importação de fontes **/
@font-face {
  font-family:'Gotham';  
  src: url("../fonts/Gotham-Fonts-By-Designsrock/gotham-light.ttf") format("truetype");          
  font-weight: 100;
}
@font-face {
  font-family:'Gotham';  
  src: url("../fonts/Gotham-Fonts-By-Designsrock/Gotham-Book.otf") format("opentype");          
  font-weight: 200;
}
@font-face {
  font-family:'Gotham';  
  src: url("../fonts/Gotham-Fonts-By-Designsrock/Gotham-Medium-Regular.ttf") format("truetype");          
  font-weight: 300;
}
@font-face {
  font-family:'Gotham';  
  src: url("../fonts/Gotham-Fonts-By-Designsrock/Gotham-Bold.otf") format("opentype");          
  font-weight: 700;
}
@font-face {
  font-family:'Gotham';  
  src: url("../fonts/Gotham-Fonts-By-Designsrock/Gotham-Black.otf") format("opentype");          
  font-weight: 800;
}
@font-face {
  font-family:'Gotham';  
  src: url("../fonts/Gotham-Fonts-By-Designsrock/Gotham-Ultra.otf") format("opentype");          
  font-weight: 900;
}
@font-face {
  font-family:'Gotham-italic';  
  src: url("../fonts/Gotham-Fonts-By-Designsrock/GOTHAM-ULTRAITALIC.ttf") format("truetype");          
  font-weight: 900;
}
	/** 1.1 - Css Geral **/
	* {
	  font-family:'Gotham';  
    font-weight: 300;
	  margin: 0;
	  padding: 0;
	}
	a:focus{
	  text-decoration: none;
	}
	.clear{
	  clear: both;
	}
	/** Fim do Css Geral **/
/** FIM - Importação de fontes **/

/***********************************************************************************************************************************************************/

/** 2 - Header **/
  /** 2.1 - Navbar **/
  .navbar{
    min-height: auto;
  }
  .navbar-default{
    margin-bottom: 0px;
    background-color: #171717;
    border: 0px;
    border-radius: 0;
  }
  .navbar-default p{
    font-size: 14px;
    color: #555555;
    font-weight: 700;
    margin-bottom: 0px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
  .navbar-default .nav>li>a{
    padding-top: 7.5px;
    color: #fff;
    background-color: #000;
    padding-bottom: 7.5px;
    font-weight: 700;
    transition: 0.2s;
  }
  .navbar-right li:first-child a{
    margin-right: 35px;
  }
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    background-color: #fff;
    color: #000;
    transition: 0.2s;
  }
  /** FIM - Navbar **/
/** FIM - Header **/

/***********************************************************************************************************************************************************/

/** 3 - Section conectadosApresentacao **/
#conectadosApresentacao{
  min-height: 100vh;
  background-image: url('../images/fundoconectados.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#conectadosApresentacao .container{
  min-height: 100vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.logoConectados{
  text-align: center;
}
.logoConectados img{
  margin: auto;
}
.logoConectados h1{
  margin-top: 30px;
  margin-bottom: 80px;
  color: #fff;
  font-style: italic;
  font-weight: 900;
  font-size: 105px;
}
.logoConectados a{
  display: inline-block;
  background-color: #11e061;
  padding: 10px 70px;
  border-radius: 10px;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
  font-style: italic;
  transition: 0.2s;
}
.logoConectados a:hover{
  background-color: #000;
  color: #11e061;
  text-decoration: none;
  transition: 0.2s;
}
.sistema {
  margin-top: 8px;
  text-align: center;
  margin-bottom: 2px;
  float: right;
  
}
.sistema a {
  color: #11E061;
  text-decoration: none;
}

/** 3 - FIM conectadosApresentacao **/

/***********************************************************************************************************************************************************/

/** 4 - Section bemVindosEfej **/
#bemVindosEfej{
  background-image: url('../images/fundobemvindos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0px;
}
.textoBemVindos h2{
  font-style: italic;
  margin-top: 0px;
  max-width: 400px;
  font-size: 49px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 45px;
  position: relative;
}
.textoBemVindos h2::after{
  content: '';
  position: absolute;
  padding: 8px;
  width: 75px; 
  background-color: #f91675;
  left: 0;
  bottom: -30px;
}
.textoBemVindos p{
  padding: 0px 80px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 1px 1px #333;
}
.textoBemVindos h3{
  text-transform: uppercase;
  font-size: 48px;
  color: #fff;
  margin-top: 60px;
  font-style: italic;
  text-align: center;
}
.textoBemVindos span{
  display: block;
  height: 18px;
  background-color: #fff;
  width: 75px;
  margin: 120px auto 120px auto;
}
.pacotesEfej h2{
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 70px;
  margin-bottom: 15px;
}
.pacotesEfej h4{
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  text-align: center;
}
.rowPacotes{
  margin: 60px 0px;
}
.rowPacotes h3{
  font-size: 61px;
  text-align: center;
  font-weight: 900;
}
.opcoesHospe{
  background-color: #fff;
  color: #000;
  font-size: 24px;
  padding: 15px 0px;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
}
.comHospedagem h3{
  color: #f2a730;
}
.semHospedagem h3{
  color: #11e061;
}
.euQueroCartao p{
  font-size: 18px;
}
.euQueroCartao{
  margin-top: 80px;
  color: #fff;
  text-align: center;
}
.euQueroCartao span{
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
}
/** FIM - Section bemVindosEfej **/

/***********************************************************************************************************************************************************/

/** 5 - Section contadorEfej **/
#contadorEfej{
  text-transform: uppercase;
  padding: 160px 0px;
  background-image: url('../images/fundocontagem.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#contadorEfej span{
  font-size: 113px;
  color: #fff;
  font-weight: 900;
}
#contadorEfej a{
  display: inline-block;
  margin-top: 50px;
  padding: 10px 70px;
  border-radius: 10px;
  background-color: #f91675;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  font-style: italic;
  transition: 0.2s;
}
#contadorEfej a:hover{
  transition: 0.2s;
  text-decoration: none;
  color: #f91675;
  background-color: #fff;
}
/** FIM - Section contadorEfej **/

/***********************************************************************************************************************************************************/

/** 6 - Section escolhasEfej **/
#escolhasEfej .container-fluid{
  padding: 0px;
}
#escolhasEfej .col-md-3{
  padding: 0px;
}
#escolhasEfej .eGeralEfej{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 480px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-end;
  -webkit-flex-direction: column;
  font-size: 14px;
  padding: 25px 25px;
  color: #fff;
}
.eGeralEfej p{
  margin-bottom: 0px;
}
.eGeralEfej h3{
  font-weight: 800;
  font-size: 30px;
  font-style: italic;
  position: relative;
  margin-bottom: 15px;
}
.eGeralEfej h3::after{
  content: '';
  position: absolute;
  padding: 4px;
  width: 45px; 
  background-color: #fff;
  left: 0;
  bottom: -12px;
}
.eG1{
  background-image: url('../images/escolha1.jpg');
}
.eG2{
  background-image: url('../images/escolha2.jpg');
}
.eG3{
  background-image: url('../images/escolha3.jpg');
}
.eG4{
  background-image: url('../images/escolha4.jpg');
}
/** FIM - Section escolhasEfej **/

/***********************************************************************************************************************************************************/

/** 7 - Section estatisticasEfej **/
#estatisticasEfej{
  text-transform: uppercase;
  padding: 200px 0px;
  background-image: url('../images/fundoestatisticas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#estatisticasEfej .col-md-3{
  text-align: center;
  font-size: 27px;
  font-weight: 100;
  line-height: 1.1; 
}
#estatisticasEfej span{
  font-size: 135px;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 5px;
}
#estatisticasEfej strong{
  font-weight: 300;
}
#estatisticasEfej .est1{
  color: #00bff3;
}
#estatisticasEfej .est2{
  color: #11e061;
}
#estatisticasEfej .est3{
  color: #f2a730;
}
#estatisticasEfej .est4{
  color: #f91675;
}

/** FIM - Section estatisticasEfej **/

/***********************************************************************************************************************************************************/

/** 8 - Section parceiros **/
#parceiros{
  text-transform: uppercase;
  padding: 60px 0px;
  background-color: #000;
  text-align: center;
}
#parceiros h3{
  font-weight: 300;
  font-size: 30px;
  font-style: italic;
  position: relative;
  margin-bottom: 60px;
  color: #fffffa;
}
#parceiros ul{
  padding-left: 0px;
}
#parceiros ul li{
  display: inline-block;
  list-style: none;
  margin-right: 30px;
  margin-left: 30px;
  padding: 20px 10px;
}
/** FIM - Section parceiros **/

/***********************************************************************************************************************************************************/

/** 9 - Footer **/
footer{
  padding: 40px 0px;
  background-color: #111111;
  color: #fff;
}
footer h5{
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  margin-top: 25px;
}
footer img{
  float: right;
}
footer span{
  font-weight: 100;
}
footer .redesSociais li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-align: center;
}
footer .fa{
  color: #111;
  font-size: 25px;
  padding-top: 6px;
}
footer .container-fluid{
  padding-left: 40px;
  padding-right: 40px;
}
/** FIM - Footer **/

/***********************************************************************************************************************************************************/

@media(max-width: 991px){
  .logoConectados h1{
    font-size: 70px;
  }
  .logoConectados a{
    font-size: 25px;
  }
  #bemVindosEfej{
    background-color: #000;
    background-image: none;
  }
  .textoBemVindos span{
    margin: 80px auto;
  }
  .pacotesEfej .semHospedagem{
    margin-top: 80px;
  }
  #contadorEfej span{
    font-size: 60px;
  }
  #estatisticasEfej .col-md-3{
    width: 100%;
    margin-top: 50px;
  }
  #estatisticasEfej span{
    width: 100%;
    display: inherit;
  }
  #estatisticasEfej{
    padding: 100px 0px;
  }
  footer .col-md-6{
    width: 50%;
    float: left;
  }
}

@media(max-width: 767px){
  .logoConectados h1{
    font-size: 35px;
    margin-bottom: 40px;
  }
  .logoConectados a{
    font-size: 20px;
  }
  #bemVindosEfej{
    background-color: #000;
    background-image: none;
  }
  .textoBemVindos span{
    margin: 80px auto;
  }
  .pacotesEfej .semHospedagem{
    margin-top: 80px;
  }
  #contadorEfej span{
    font-size: 60px;
  }
  #estatisticasEfej .col-md-3{
    width: 100%;
    margin-top: 50px;
  }
  #estatisticasEfej span{
    width: 100%;
    display: inherit;
  }
  #estatisticasEfej{
    padding: 60px 0px;
  }
  footer .col-md-6{
    width: 100%;
    float: left;
    text-align: center;
  }
  .collapsed{
    display: none;
  }
  .navbar-default p{
    text-align: center;
  }
  .logoConectados a{
    font-size: 15px;
    padding: 15px 15px;
  }
  footer .redesSociais li{
    margin-right: 10px;
    margin-left: 10px;
  }
  .textoBemVindos h2{
    font-size: 30px;
  }
  .textoBemVindos p{
    padding: 0px;
    font-size: 17px;
  }
  .textoBemVindos h3{
    font-size: 30px;
  }
  .pacotesEfej h2{
    font-size: 35px;
  }
  .pacotesEfej h4{
    font-size: 16px;
  }
  .rowPacotes h3{
    font-size: 45px;
  }
  .rowPacotes{
    margin: 30px 0px;
  }
  .euQueroCartao{
    margin-top: 50px;
  }
  .euQueroCartao p{
    font-size: 16px;
  }
  #estatisticasEfej span{
    font-size: 85px;
  }
  #contadorEfej span{
    font-size: 26px;
  }
  #contadorEfej{
    padding: 60px 0px;
  }
  #parceiros ul li{
    margin-top: 40px;
  }
  .sistema {
    margin-top: 8px;
    text-align: center;
    margin-bottom: 2px;
    float: none;
  }
}