<%= javascript_include_tag Ckeditor.cdn_url %>
<section class="content-header">
    <h1>
      Gerar Relatório
    <small></small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
   <!-- <section class="box"> -->
   <div class="row">
   <%= form_tag crew_generate_xls_path(format: :xls), method: :get do %>
     <div class="col-md-3">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Selecione os campos</h3>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div>
                   <input type="checkbox" name="selected_columns[Name]" id="selected_columns_Name" value="1" class="minimal" checked="checked" /> <label>Nome</label>
                </div>
                <div>
                   <input type="checkbox" name="selected_columns[Email]" id="selected_columns_Email" value="1" class="minimal" checked="checked" /> <label>Email</label>
                </div>
                <div>
                  <input type="checkbox" name="selected_columns[Cpf]" id="selected_columns_Cpf" value="1" class="minimal"/> <label>CPF</label>
                </div>
                <div>
                  <input type="checkbox" name="selected_columns[General register]" id="selected_columns_General_register" value="1" class="minimal" /> <label>RG</label>
                </div>
                <div>
                  <input type="checkbox" name="selected_columns[Birthday]" id="selected_columns_Birthday" value="1" class="minimal"/> <label>Data de Nasc.</label>
                </div>
              
                <div>
                  <input type="checkbox" name="selected_columns[Created at]" id="selected_columns_Created_at" value="1" class="minimal" /> <label>Data de cadastro</label>
                </div>
                <div>
                  <input type="checkbox" name="selected_columns[University]" id="selected_columns_University" value="1"  class="minimal" checked="true" /> <label>Universidade</label>
                </div>
                <div>
                  <input type="checkbox" name="selected_columns[Login_face]" id="selected_columns_Login_face_required" value="1"  class="minimal"  /> <label> Login via facebook? </label>
                </div>
            </div>
          </div>
          <!-- /. box -->
     </div>



     <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Filtros</h3>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <label>Status do Pagamento</label>
               <select name="pay_status" class="form-control"> 
                <option value="0"> Todos</option>
                <option value="1"> Pago </option>
                <option value="2"> Não Pago </option>
               </select>
            </div>
        
          </div>
          <!-- /. box -->
     </div>

      <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Enviar relatório para E-mail</h3>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <label>E-mail (Deixe em branco para não enviar)</label>
               <input name="email_relatorio" class="form-control"> 
            </div>
            <div class="box-body">
               <label>Conteúdo do e-mail </label>
              <%= cktext_area :email_relatorio_conteudo, :info, cols: 40, ckeditor: {  toolbar: 'mini', language: 'pt_BR' }, value: ("<p style=\"text-align: center;\"><img alt=\"\" src=\"https://image.prntscr.com/image/JBRsCCg5RqeHjqh2JVfa7w.png\" style=\"width: 421px; height: 166px;\" /></p>\r\n\r\n<p style=\"text-align: center;\"><strong>Ol&aacute;,</strong><br />\r\nO relat&oacute;rio gerado pelo Sistema EvenTi 2017 segue anexo ao e-mail.</p>\r\n") %>

            </div>
          </div>
          <!-- /. box -->
     </div>


      <div class="col-md-12">
          <div class="box box-primary">
            
            <!-- /.box-header -->
            <div class="box-body">
                   <button type="submit" class="btn btn-block btn-primary">Gerar Planilha</button>
            </div>
          </div>
          <!-- /. box -->
     </div>
 

    <% end %>
        <%#= debug @possible_columns %>
      
   </div>
   <!-- </section> -->
</section>