<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nome da Federação</Data></Cell>
        <Cell><Data ss:Type="String">Total de congressitas</Data></Cell>
        <Cell><Data ss:Type="String">Quantos Pagaram</Data></Cell>
      </Row>
     <% @fed.each do |empresas, usuarios| %>
        <Row>
          <Cell><Data ss:Type="String"><%= usuarios.map{ |h| h.federation }.max.titleize %></Data></Cell>
          <Cell><Data ss:Type="String"><%=  usuarios.count %></Data></Cell>
          <Cell><Data ss:Type="String"><%= usuarios.select{ |user| !user.payment.nil? && user.payment.portion_paid > 0}.count %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
