<!-- Content Header (Page header) -->
<!-- <section class="content-header">
   <h1>
     Pace page
     <small>Loading example</small>
   </h1>
   </section>-->
<!-- Main content -->
<section class="content">
   <div class="row">
      <div class="col-md-12">
         <!-- Profile Image -->
         <div class="box box-primary">
          <div class="box-body">
            <h3 class="text-center">Sobre o EFEJ 17</h3>
            <p class="text-justify about_ecej" >Na hora de organizar um evento, sabemos que existem diversos
processos que devem ser realizados com êxito para que o evento seja um
sucesso.
Pensando nisso, o evenTi traz funcionalidades essenciais para otimizar a
organização do seu evento. Além disso, desde a pré-inscrição até o
pós-evento, a GTi proporciona um suporte personalizado tanto aos
organizadores, quanto aos congressistas.</p>
            <div align="center">
            <img src="/images/efej/logo-about.png" height="200">
            </div>
            <p class="text-justify about_ecej" >
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper tempus orci, sed dictum erat gravida in. Aenean eu mollis ex, vel molestie lacus. Phasellus consectetur accumsan sapien nec sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis porta lectus, eget ultricies justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla ante neque, rhoncus id ultricies vitae, tempor at felis. </p>
            </br>
             <p class="text-justify about_ecej"> Formas de pagamento: Boleto bancário e Cartão de Crédito (PagSeguro).</p>
            <span class="mailbox-read-time pull-right">29 de junho. 2017 22:00 </span>
            <span class=" pull-left">          
            <ul class="fc-color-picker">
              <li><a href="https://www.facebook.com/efej2017/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;" height="24" width="24" class=""></a> </li>
              <li> <a href="https://www.instagram.com/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display:block;" height="24" width="24" class=""></a></li>
              <li> <a href="mailto:gtiengenhariajr@gmail.com" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" style="display:block;" height="24" width="24" class=""></a></li>
            </ul>
            </span>
           </div>
         </div>
         <!-- /.box -->
      </div>
      <!-- /.col -->
      
   </div>
   <!-- /.row -->
</section>
<!-- /.content -->
<div id="navio" style="position: fixed; margin-bottom: 20px;-webkit-animation:5s ease-in-out 0s normal none infinite floatingno;-moz-animation:5s ease-in-out 0s normal none infinite floatingno; left: -100px;z-index: 0"></div>
<style type="text/css">
  @media screen and (max-width: 960px) {.dire {display:  none;}#navio {display: none;}}
</style>