<!-- Content Header (Page header) -->
<!-- <section class="content-header">
   <h1>
     Pace page
     <small>Loading example</small>
   </h1>
   </section>-->
<!-- Main content -->
<section class="content">
   <div class="row">
      <div class="col-md-12">
         <!-- Profile Image -->
         <div class="box box-primary">
          <div class="box-body">
            <h3 class="text-center">Sobre o EFEJ 17</h3>
            <p class="text-justify about_ecej" >O maior evento da RioJunior. O Encontro Fluminense de Empresários Juniores é um
evento que visa conectar a rede fluminense, fazendo com que os empresários juniores
entendam sua realidade, formulem um futuro desejado e trabalhem para alcança-lo.
Os congressistas passam 3 dias imersos em um ambiente de troca e aprendizado onde
assistem palestras e cases, participam de workshops e dinâmicas, além de trocarem
muito bench.</p>
            <div align="center">
            <img src="/images/efej/logo-about.png" height="200">
            </div>

            </br>
             <p class="text-justify about_ecej"> Formas de pagamento: Boleto bancário e Cartão de Crédito (PagSeguro).</p>
            <span class="mailbox-read-time pull-right">29 de junho. 2017 22:00 </span>
            <span class=" pull-left">          
            <ul class="fc-color-picker">
              <li><a href="https://www.facebook.com/efej2017/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;" height="24" width="24" class=""></a> </li>
              <li> <a href="https://www.instagram.com/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display:block;" height="24" width="24" class=""></a></li>
              <li> <a href="mailto:jurfin@riojunior.com.br" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" style="display:block;" height="24" width="24" class=""></a></li>
            </ul>
            </span>
           </div>
         </div>
         <!-- /.box -->
      </div>
      <!-- /.col -->
      
   </div>
   <!-- /.row -->
</section>
<!-- /.content -->
