<!-- Content Header (Page header) -->
<!-- <section class="content-header">
   <h1>
     Pace page
     <small>Loading example</small>
   </h1>
   </section>-->
<!-- Main content -->
<section class="content">
   <div class="row">
      <div class="col-md-12">
         <!-- Profile Image -->
         <div class="box box-primary">
          <div class="box-body">
            <h3 class="text-center">Sobre o EFEJ 17</h3>
            <p class="text-justify about_ecej" >O Encontro Fluminense de Empresários Juniores, o EFEJ, é o maior evento do Movimento Empresa Júnior do Rio de Janeiro. Organizado pela RioJunior, o EFEJ 2017 tem como propósito promover a integração e conexão entre os empresários juniores, desenvolvendo-os através de workshops, palestras, desafios, cases e MUITA troca de experiência! Esse ano estaremos #conectados, pela primeira vez na história, na cidade de Volta Redonda, de 12 a 15 de Outubro.
</p>
            <div align="center">
            <img src="/images/efej/logo-about.png" height="200">
            </div>

            </br>
             <p class="text-justify about_ecej"> Venha conosco tornar o Rio de Janeiro mais empreendedor!</p>
            <span class="mailbox-read-time pull-right">02 de agosto. 2017 22:00 </span>
            <span class=" pull-left">          
            <ul class="fc-color-picker">
              <li><a href="https://www.facebook.com/efej2017/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;" height="24" width="24" class=""></a> </li>
              <li> <a href="https://www.instagram.com/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display:block;" height="24" width="24" class=""></a></li>
              <li> <a href="mailto:jurfin@riojunior.com.br" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" style="display:block;" height="24" width="24" class=""></a></li>
            </ul>
            </span>
           </div>
         </div>
         <!-- /.box -->
      </div>
      <!-- /.col -->
      
   </div>
   <!-- /.row -->
</section>
<!-- /.content -->
