<!-- Main content -->
<section class="content">
   <!-- <section class="box"> -->
   <div class="row">
      <div class="col-xs-12">
         <div class="box">
            <div class="box-header">
               <h3 class="box-title">Informações e lógica do sistema</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ol>
                <li>Sobre as inscrições, poderão se inscrever:</li>
                <ol>
                   <li>Se a data atual for menor ou igual a data final do lote aberto</li>
                </ol>
                <li>Sobre o lote:</li>
                <ol>
                   <li>Congressistas serão alocados automaticamente no ato de conclusão do cadastro:</li>
                   <ol>
                     <li>Caso tenham vagas *</li>
                     <li>Caso data atual seja menor ou igual a data final do lote aberto</li>
                   </ol>
                </ol>
                <li>Sobre o congressista não ser alocado no ato de conclusão do cadastro</li>
                <ol>
                  <li>Se a data atual for maior que a data final do lote aberto</li>
                  <li>Caso não tenham vagas *</li>
                </ol>
                <li>Como fazer para que os novos congressistas não sejam alocados (Lista de espera)</li>
                <ol>
                    <li>Verificar quantas pessoas efetuaram o pagamento</li>
                    <li>Editar a quatindade limite do lote para a quantidade de pessoas pagantes. (Implementado no gerenciamento de Lotes)</li>
                    <!-- + = mplementar auto -->
                    <li>Após isso, o que irá acontecer?</li>
                     <ol>
                     <li>Após concluir o cadastro, o congressista não irá ser alocado, pois não há vagas disponivéis.</li>
                     </ol>
                  </ol>
                <li>Sobre a fila de espera, como o sistema irá proceder?
                  <ol>
                    <li>Botão desalocar: Irá Desalocar o lote atual de todos que não efetuaram ou geraram um pagamento.</li>
                    <li>Botão deletar: irá remover todos os boletos/pagseguro dos usuários que não efetuaram o pagamento</li>
                    <ol>
                     <li>Com isso, o congressista poderá escolher a forma de pagamento novamente quando for alocado no próximo lote.</li>
                    </ol>
                    <ol>
                     <li>Cuidados adicionais: esta função irá ficar disponivel apenas dia 22, visto que o asaas ou pg ainda poderam está processando algum pagamento.</li>
                    </ol>
                  </ol>
                </li>
                <li>Sobre alocar um congressista pelo administrador:</li>
                <ol>
                  <li>O sistema irá enviar um email informando.</li>
                </ol>
                <li>Sobre desalocar um congressista pelo administrador</li>
                <ol>
                  <li>Quando desclassificar um congressista x, o sistema irá alocar automaticamente um congressista y, o primeiro da lista de espera e enviar um email.</li>
                </ol>
                <li></li>
                <li>1° lote: Caso o congressita não pague-o até 20/02, sua inscrição deverá cancelada (desalocar o lote). </li>
                <li>Dúvidas? (85) 9 8935-4255 </li>
              </ol>

            </div>
         </div>
      </div>
   </div>
   <!-- </section> -->
</section>