<!DOCTYPE html>
<html>
   <head>
      <title>Verifique seu E-mail</title>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!--       <link rel="icon" type="image/png" sizes="16x16" href="/images/efej/icon.png"> -->
      <style type="text/css">
         body{margin: 0; font-family: Gilroy-Regular,Glober,Verdana,sans-serif;}
         .logo {
         background-image: url('/site/images/logo.png');
         width: 256px;
         height: 130px;
         margin: 90px auto;
         margin-bottom: 10px;
         background-size: 256px;
         background-repeat: no-repeat;
         }
         .text-info{
         text-align: center;
         margin-top: 50px;
         color: #4d4d4d;
         }
         .text-info h2{
         overflow: hidden;
         font-size: 19px;
         font-weight: normal;
         }
         a {
         color: #337ab7;
         text-decoration: none;
         }
         .hr {
         margin: 50px 0;
         text-align: center;
         }
         .hr.default-color {
         border-color: #45bbff;
         }
         .btn {
         font-weight: 700;
         position: relative;
         transition: all 0.2s;
         margin-bottom: 20px;
         border: none;
         border-radius: 20px;
         padding: 10px 30px 10px 20px;
         -webkit-transition: all 0.2s;
         }
         .btn + .btn {
         margin-left: 40px;
         }
         .btn:focus,
         .btn:active {
         outline: 0 !important;
         box-shadow: none;
         }
         .btn-default,
         .btn-default:focus,
         .btn-default:active,
         .btn-default:active:hover {
         background-color: #45bbff;
         color: #fff;
         }
         .btn-default:after,
         .btn-default:before {
         content: "";
         position: absolute;
         top: 0;
         bottom: 0;
         width: 40px;
         border-radius: 50%;
         }
         .btn-default:before {
         right: 9px;
         box-shadow: 10px 0 0 0 #2cacf5;
         -webkit-transition: all 0.3s;
         transition: all 0.3s;
         }
         .btn-default:after {
         right: 0;
         box-shadow: 10px 0 0 0 #209fe8;
         -webkit-transition: all 0.3s;
         transition: all 0.3s;
         }
         .btn-default:hover {
         background-color: #45bbff;
         color: #fff;
         padding: 10px 30px;
         }
         .btn-default:hover:after,
         .btn-default:hover:before {
         box-shadow: none;
         }
         .logo-proloader-gti {
         animation-name: identifier;
         animation-duration: 4000ms;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
         }
         @keyframes identifier {
         0% { transform: rotateY(0deg); }
         30% { transform: rotateY(0deg); }
         68%, 72% { transform: rotateY(90deg); }
         100% { transform: rotateY(720deg); }
         }
         @-webkit-keyframes identifier {
         0% {
         -webkit-transform: rotateY(0deg);
         }
         30% {
         -webkit-transform: rotateY(0deg);
         }
         68% {
         -webkit-transform: rotateY(90deg);
         }
         100% {
         -webkit-transform: rotateY(720deg);
         }
         }
         @-moz-keyframes identifier {
         0% {
         -moz-transform: rotateY(0deg);
         }
         30% {
         -moz-transform: rotateY(0deg);
         }
         68% {
         -moz-transform: rotateY(90deg);
         }
         100% {
         -moz-transform: rotateY(720deg);
         }
         }
         @-o-keyframes identifier {
         0% {
         -o-transform: rotateY(0deg);
         }
         30% {
         -o-transform: rotateY(0deg);
         }
         68% {
         -o-transform: rotateY(90deg);
         }
         100% {
         -o-transform: rotateY(720deg);
         }
         }
      </style>
   </head>
   <body>
      <div class="logo logo-proloader-gti"></div>
      <div class="text-info">
         <h2>Ative sua conta</h2>
         <p>
            Para completar seu registro, você deve</br> ativar sua conta.
         </p>
         <p>
            Nós enviamos um e-mail para você</br> explicando todos os passos.
         </p>
         <p style="color: #e80d0d; font-size: 15px">
            Atenção! Finalize o cadastro para garantir sua vaga =)
         </p>
         <div class="hr default-color"><% link_to new_user_session_path , class="btn btn-default" do %> Entendi! <% end %> </div>
      </div>
   </body>
</html>
